<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MvvmLight2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MvvmLight2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <appSettings>
    <add key="IdUniversity" value="1" />
    <add key="NameUniversity" value="Ростовский государственный экономический университет (РИНХ)" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    
    <add name="DBTeachingLoadEntities" 
         connectionString="metadata=res://*/Model.ModelTL001.csdl|res://*/Model.ModelTL001.ssdl|res://*/Model.ModelTL001.msl;
         provider=System.Data.SqlClient;provider connection string=&quot;&#xD;&#xA;
         data source=АЛЕКСЕЙ-ПК;&#xD;&#xA;
         initial catalog=DBTeachingLoad;&#xD;&#xA;
         integrated security=True;&#xD;&#xA;
         multipleactiveresultsets=True;&#xD;&#xA;
         application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <MvvmLight2.Properties.Settings>
      <setting name="FacultySelectedIndexProperty" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="UniversitySelectedProperty" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ChairSelectedProperty" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AcademicYearSelectedProperty" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="TeacherComboBoxChairIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TeacherComboBoxFacultyIndex" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="LoadChairComboBoxChairIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LoadChairComboBoxFacultyIndex" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="LoadChairComboBoxAcademicYearIndex" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="LoadChairComboBoxNameLoadIndex" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="DisciplineChairComboBoxFacultyIndex" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DisciplineChairComboBoxChairIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DisciplineChairComboBoxAcademicYearIndex" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="GroupComboBoxFacultyIndex" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="GroupComboBoxAcademicYearIndex" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="StreamLecrure" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CurriculumComboBoxAcademicYearIndex" serializeAs="String">
        <value>4</value>
      </setting>
    </MvvmLight2.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <MvvmLight2.Properties.Settings>
      <setting name="SteramLab" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="StreamPract" serializeAs="String">
        <value>0</value>
      </setting>
    </MvvmLight2.Properties.Settings>
  </applicationSettings>
</configuration>