<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!--<connectionStrings>-->
  <!--<add name="DekanusKontorEntities" connectionString="metadata=res://*/Model.Dekanat.csdl|res://*/Model.Dekanat.ssdl|res://*/Model.Dekanat.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IT-Alex;initial catalog=Деканат;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="DekanusKontorEntities" connectionString="metadata=res://*/Model.Dekanat.csdl|res://*/Model.Dekanat.ssdl|res://*/Model.Dekanat.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=АЛЕКСЕЙ-ПК;initial catalog=Деканат;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>-->
</configuration>